
.other-participants {
    display: flex;
    justify-content: space-around;
    align-iems: center;
    flex-wrap: wrap;
}

.other-participants .participant {
    margin: 10px;
    padding: 6px;
}

.checked {
    color: #4F9F4F;
}

.unchecked {
    color: red;
}
