{% extends 'base.html.twig' %}

{% block body %}
    <h1>Session : {{ session.name }}</h1>

    <div class="dashboard">
        <div>
            <h2>Add a new user in the session</h2>

            {{ form(form) }}    
        </div>
        <div>
            <h2>Select an already existing pseudo</h2>

            {% for user in users %}
                <p><a href="{{ path('session_index', {sessionName: session.name, userName: user.name}) }}">{{ user.name }}</a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
