@import './assets/scss/app.scss';

$section-color-text: #b2df8a;
$section-color-title: #fed9a6;
$section-color-task-group: #33a02c;
$section-color-task: #b3cde3;


.new-section-action-popover {
    user-select: none
}

.section-text-background-color {
    background-color: $section-color-text !important;
    border-color: $section-color-text !important;
}

.section-task-background-color {
    background-color: $section-color-task !important;
    border-color: $section-color-task !important;
}
.section-task-group-background-color {
    background-color: $section-color-task-group !important;
    border-color: $section-color-task-group !important;
}

.section-title-background-color {
    background-color: $section-color-title !important;
    border-color: $section-color-title !important;
}

.new-section-action-popover button {
    margin-right: 6px
}


.selected-section {
    padding: 4px;
    border-radius: 4px;
}

textarea.task-description-edit  {

    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    outline: none;
    font-size: 14px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;



}

.textarea {
    display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  padding: 0;
    margin: 0;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    outline: none;
}

.textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
  }

.resize-ta {
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}

.ck-content {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}